*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
node_modules
npm-debug.log
debug.log
/tags
/out/
docs/output
docs/includes
out/
/electron/
build/
dist/
built/
.awcache
electris-darwin-x64*
electris-linux-arm64*
electris-linux-armv7l*
electris-linux-ia32*
electris-linux-x64*
electris-mas-x64*
electris-win32-ia32*
electris-win32-x64*
app/
!app/css
!app/img